/* * {
    border-style: dashed;
    border-color: rgba(255, 0, 0, 0.5);
} */

html {
    background-image: url("https://wallpaperaccess.com/full/2215992.jpg");
    background-color: #A5C4D4;
    background-size: cover;
}

body {
    margin: 15px 20% 15px 20%;
    background-color: #364048;
    color: #e3eef3;
    font-family: 'Poppins', sans-serif;
    padding: 15px 10px 10px 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#foto {
    border-radius: 15%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    padding: 0 10px 10px 0;
    background-color: rgba(50, 50, 50, 0.50);
}

h1 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

#description {
    margin: 0px;
    padding: 0px;
}

#icons {
    text-align: center;
}

.icon {
    height: 40px;
    border-radius: 100%;
    padding: 5px;
    display: inline-block;
}

.row {
  display: flex;
}

p {
    text-align: center;
}

ul {
    list-style: none;
}

.lists {
    margin-left: 15%;
    margin-right: 15%;
}

.list-info {
    margin-left: 7%;
    color: #e3eef378
}

a {
    text-decoration: none;
}

a:link {
    color: #e3eef3;
}

a:visited {
    color: #e3eef3;
}

#button {
    background-color: #A5C4D4;
    color: #364048;
    padding: 0 5px 0 5px;
    border-radius: 5%;
}

#button-div {
    text-align: center;
}